<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:roundIcon="@mipmap/ic_launcher_new_rounded"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeeplinkWebviewApp"
        tools:targetApi="31">
        <activity
            android:name="com.example.deeplinkwebviewapp.ui.LogActivity"
            android:exported="false"
            android:label="@string/title_activity_log"
            android:theme="@style/Theme.DeeplinkWebviewApp" />
        <activity
            android:name="com.example.deeplinkwebviewapp.ui.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.DeeplinkWebviewApp" />
        <activity
            android:name="com.example.deeplinkwebviewapp.ui.WebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_web_view"
            android:theme="@style/Theme.DeeplinkWebviewApp" />
        <activity
            android:name="com.example.deeplinkwebviewapp.ui.MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DeeplinkWebviewApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.fsiebecke.de"
                    android:pathPrefix="/_deeplink"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DisrupterActivity"/>
        <service
            android:name="com.example.deeplinkwebviewapp.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>